# Platform Lab local environment

APP_ENV=local

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
POSTGRES_SSLMODE=disable

REDIS_ADDR=redis:6379

KAFKA_BROKERS=kafka:29092

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
